
.aviso-cookies {
	display: none;
	background: white;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 250px;
	line-height: 110%;
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 100;
	padding-top: 40px;
	text-align: center;
    border: 0.5px solid #FB7676;

}

@media (max-width:550px){

  .aviso-cookies{
    width: 350px;
    margin: auto;
    right: 0;
    left: 0;
  }

}


.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
    color: #2c2c2c;
}

.cookies-cta {
	width: 100%;
	background: #FB7676;
	border: 0.5px solid #FB7676;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	margin-bottom: 15px;
	font-size: 14px;
  overflow: hidden;
  position: relative;
}


.cookies-cta::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--border-main-color);
  transition: transform 0.4s ease-out;
}

.cookies-cta:hover::before{
  transform: translateX(100%);
}

.cookies-cta:hover span {
  color: var(--background-color);
  position: relative;
  z-index: 10;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 0.7rem;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}